
<h1 class="mb-4">Gastón García</h1>

<p style="display:none;">Amo internet y tengo mucha experiencia trabajando en proyectos en línea. </p>

<p>
    Me gusta abordar cualquier proyecto web de forma metódica. Disfruto de ayudar a personas y empresas a planear y pensar lo que realmente necesitan antes de empezar un proyecto. El planeamiento hace la diferencia en todo proyecto digital: reduce costos innecesarios y evita dolores de cabeza en el desarrollo.
</p>


<p>
    He dirigido proyectos digitales para marcas como Movistar, Uber, Trident, Halls, Legrand, Mitsubishi, Mercedes-Benz y Oreo. He colaborado en los sitios web de empresas como 2CostaRicaRealEstate, Constructora Icon y La Fabbrica. También he estado involucrado en proyectos de activismo digital como &ldquo;Fuera Justo Orozco&rdquo; y &ldquo;Costa Rica Decí que Sí&rdquo;.
</p>


<p>
    Puedo trabajar en:
    <ul>
        <li>Analizar un proyecto digital actual</li>
        <li>Planificar un proyecto digital futuro</li>
        <li>Trabajar con su equipo en mejorar un sitio web</li>
        <li>Dar charlas sobre desarrollo web</li>
    </ul>
</p>

<p>
    Si usted tiene un proyecto web que actualmente no le da resultados positivos, o quiere iniciar un proyecto nuevo, contácteme para hacer un plan. 
</p>

<p><a href="mailto:">gaston@email.com</a></p>

