
<h1 class="mb-4">Gastón García</h1>

<p>Amo internet y tengo mucha experiencia trabajando en proyectos en línea. </p>

<p>
    A lo largo de mi carrera he dirigido y colaborado en proyectos para marcas como Movistar, Uber, Trident, Halls, Legrand, Mitsubishi, Mercedes-Benz y Oreo. He colaborado con empresas como 2CostaRicaRealEstate, Constructora Icon y La Fabbrica. También he estado involucrado en proyectos de bien social como Fuera Justo Orozco y Costa Rica Decí que Sí.
</p>

<p>
    Me gusta abordar cualquier proyecto web de forma metódica. Disfruto de ayudar a personas y empresas a planear y pensar lo que realmente necesitan antes de empezar un proyecto impulsivamente. El planeamiento hace la diferencia en todo proyecto digital: reduce costos innecesarios y evita dolores de cabeza en el desarrollo.
</p>

<p>
    Si usted tiene un proyecto web que actualmente no le da resultados positivos, o quiere iniciar un proyecto nuevo, contácteme para hacer un plan. 
</p>

